{% extends "blogbase.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .header-list{
        list-style-type: none;
        display: block;
    }

    a[class='head-link']{
        text-decoration:none;
        color:red;
    }
</style>


    <div class="container">
        My Name is Suresh Babu. I have created this website to share open ideas, experience, stories etc., This website is currently under development. I will push more updates/features for this website in upcoming days. Thanks for visiting my website.
    </div>
    

    
{%endblock%}
