{% extends "blogbase.html" %} 
{% block content %}
<style>
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .head_text {
        color: white;
    }
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    .header-list{
        list-style-type: none;
        display: block;
    }

    a[class='head-link']{
        text-decoration:none;
        color:red;
    }
</style>

<header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    {% if user.is_authenticated %}
                        {% include 'loggednav.html' %}
                    {% comment addpost %}
                    <!-- <p><a href="{% url 'addpost' %}">Create Your Post here</a></p> -->
                    {% endcomment %}
                    {% else %}
                        {% include 'nonloggednav.html' %}
                    {% endif %}
                    <!--
                    <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to iLOG </h3>
                    <p class="text-light">We Love Django As much as you dO
                    </p>
                -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            <h2>Djangolog Public Posts:</h2>
            {% for posted in page_obj %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ posted.title }}</h2>
                    <p class="card-text text-muted h6">{{ posted.author }} | {{ posted.created_on}} </p>
                    {% if posted.first_img %}
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                          <li data-target="#myCarousel" data-slide-to="1"></li>
                          <li data-target="#myCarousel" data-slide-to="2"></li>
                          
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                          <div class="item active">
                            <img src="{{posted.first_img.url}}" alt="Los Angeles" style="width: 800px; height: 300px">
                          </div>
                    
                          <div class="item">
                            <img src="{{posted.second_img.url}}" alt="Chicago" style="width: 800px; height: 300px">
                          </div>

                          <div class="item">
                            <img src="{{posted.third_img.url}}" alt="Chicago" style="width: 800px; height: 300px">
                          </div>
                        
                          
                        </div>
                    
                        <!-- Left and right controls -->
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div>

                    {% else %}
                        
                    {% endif %}
                    <br>
                    <p class="card-text"><q><cite>{{posted.content|slice:":200" }}</cite></q></p>
                    <a href="{% url 'postdetail' posted.slug %}" class="btn btn-primary">Read More</a>
                </div>
            </div>    
                        
            {% endfor %}
            {% if page_obj %}
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                        {% endif %}
            
                        <span class="current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
            
                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">next</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div> 
            
            {% else %}
            {% endif %}
        </div>
        {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}
    </div>
</div>
{%endblock%}
