{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }

</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">About Us</h5>
    <div class="card-body">
        <p class="card-text">Hi, My Name is Suresh Babu. I have created this website to share open ideas, experience, stories etc., This website is currently under development. I will push more updates/features for this website in upcoming days. Thanks for visiting my website.</p>

    </div>
</div>
</div>

{% endblock sidebar %}